<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting label="Download Directory" type="folder"   id="download_dir" option="writable"/>
        <setting id="debug" type="bool" label="Enable Debug Log" default="false"/>
    </category>
   
</settings>