<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting label="Download Directory" type="folder"   id="download_dir" option="writable"/>
        <setting id="delete_on_finish" type="bool" label="Delete file after playback ends" default="false"/>
        <setting id="clear_older" type="number" label="Delete files older x days from download directory" default="0"/>
        <setting id="bt_download_limit" type="number" label="Limit BitTorrent download speed (kB/s)" default="0"/>
        <setting id="bt_upload_limit" type="number" label="Limit BitTorrent upload speed (kB/s)" default="0"/>
        <setting id="debug" type="bool" label="Enable Debug Log" default="false"/>
        
    </category>
   
</settings>